@import url('./styles/header.css');
@import url('./styles/sty-welcome.css');
@import url('./styles/sty-card-grid.css');

:root {
    --primary-color: #e07800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url('/public/assets/img/welcome-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    width: 100vw;
    padding: 1rem;
    margin: 0 auto;
    min-height: 100vh;
    background: #ffffff;
}