@import url('./styles/header.css');
@import url('./styles/sty-welcome.css');
@import url('./styles/sty-card-grid.css');

:root {
    --primary-color: #e07800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
}

section {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}
section.product {
    margin-top: 60px;
}


