.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    min-height: calc(100vh - 80px) !important;
}

.welcone-content {
    gap: 1rem;
    display: flex;
    padding: 1rem;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #000; */
}

.welcone-content h2 {
    font-size: 4rem;
}

.welcone-content h2 span {
    color: var(--primary-color);
}

.welcone-content p {
    max-width: 750px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.welcone-content a {
    padding: .8rem;
    min-width: 280px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    background: var(--primary-color);
}

@media (max-width: 550px) {
    .welcone-content h2 {
        font-size: 2.5rem;
    }
}