.section.product {
    gap: 30px;
    width: 100%;
    display: grid;
    padding: 20px;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    background: #ffffff;
    flex-direction: column;
    border: 1px solid #00000033;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px #00000025;
}

.badge {
    top: 12px;
    z-index: 2;
    right: 12px;
    color: #ffffff;
    padding: 4px 12px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 0.75rem;
    position: absolute;
    pointer-events: none;
    background: #10b981;
}

.card-image-wrapper {
    width: 100%;
    height: 250px;
    cursor: zoom-in;
    overflow: hidden;
    background: #000;
    position: relative;
}

.card-image-wrapper::after {
    content: "Ver Foto";
    inset: 0;
    opacity: 0;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: #00000066;
    transition: opacity 0.3s;
}

.card-image-wrapper:hover::after {
    opacity: 1;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-body {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-title {
    margin: 0 0 8px 0;
    font-size: 1.25rem;
}

.product-desc {
    height: 40px;
    overflow: hidden;
    color: #000000;
    font-size: 0.85rem;
    margin-bottom: 20px;
}

.spec-grid {
    gap: 12px;
    display: grid;
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #00000033;
    grid-template-columns: 1fr 1fr;
}

.spec-item {
    display: flex;
    flex-direction: column;
}

.spec-label {
    font-size: 0.6rem;
    color: var(--text-dim);
    text-transform: uppercase;
}

.spec-value {
    font-weight: 600;
    font-size: 0.85rem;
}

.btn-order {
    border: none;
    padding: 14px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 700;
    margin-top: auto;
    border-radius: 12px;
    transition: background 0.3s ease;
    background: var(--primary-color);
}

.btn-order:hover {
    background: #de6f00;
}

/* Modal / Lightbox */
.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: #000000e6;
}

.modal.active {
    display: flex;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 20px #00000080;
}

.close-modal {
    top: 20px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
}